.container {
    margin-top: 3rem;
    text-align: center;
    color: #fff;
}

.container h2 {
    margin: 0 auto;
    font-size: 1rem;
}


.progress {
    display: flex;
    align-items: center;
    margin: 2rem auto;
    
    padding: 0 .5rem;
    width: 80%;
    height: 40px;
    border-radius: 16px;
}

.progress div {
    margin: 0 .5rem 0 .5rem;
    border-radius: 80px;
    height: 14px;
}


@media screen and (min-width: 830px){
    .progress {
        width: 40%;
    }
}